<?xml version="1.0"?>
<configuration>
 
  <connectionStrings>
    <add name="Dev" connectionString="data source=Arad\AradSQL;Initial Catalog=DealerLocator;Persist Security Info=True;User ID=dl;Password=dl" providerName="System.Data.SqlClient"/>
    <!--<add name="Dev" connectionString="Data Source=sql2k503.discountasp.net;Initial Catalog=SQL2005_325715_dealerlocate;Persist Security Info=True;User ID=SQL2005_325715_dealerlocate_user;Password=ttiemann" providerName="System.Data.SqlClient"/>
		-->
    <add name="DealerLocatorConnectionString" connectionString="data source=Arad\AradSQL;Initial Catalog=DealerLocator;Persist Security Info=True;User ID=dl;Password=dl" providerName="System.Data.SqlClient"/>
    <add name="DealerLocatorDatabaseCopy" connectionString="data source=Arad\AradSQL;Initial Catalog=DEALERLOCATORCopyTest;Persist Security Info=True;User ID=dl;Password=dl" providerName="System.Data.SqlClient"/>
    <add name="Production" connectionString="Data Source=sql2k503.discountasp.net;Initial Catalog=SQL2005_325715_dealerlocate;Persist Security Info=True;User ID=SQL2005_325715_dealerlocate_user;Password=ttiemann" providerName="System.Data.SqlClient"/>
    <add name="DealerLocatorConnectionString1" connectionString="Data Source=sql2k503.discountasp.net;Initial Catalog=SQL2005_325715_dealerlocate;Persist Security Info=True;User ID=SQL2005_325715_dealerlocate_user;Password=ttiemann" providerName="System.Data.SqlClient"/>

  </connectionStrings>

 
</configuration>